*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
#bin
var
sdist
develop-eggs
.installed.cfg
#lib
*.bak
nohup.out
node_modules

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

#local file
local_define.py
!conf/local_define.py
sftp-config.json

#temp file
*.swo
*.swp
*.bat

#Eclipse Project file
.project
.pydevproject
.settings/*
secret_keys.py
